<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<%= link_to "Mi carro", show_cart_path %>

<% @products.each do |prod| %>
    <%= prod.name %>
    <%= prod.price %>
    <%= image_tag prod.photo %>
    <%= link_to "Comprar", shopping_cart_path(prod), method: :post %>
    <br>
<% end %>
